## Проверка выполнения гипотезы Блэка-Шульца на данных криптовалютной биржи
### Михаил Селюгин

In [1]:
import numpy as np
import pandas as pd
import scipy.interpolate
import scipy.optimize

In [5]:
december_price = pd.read_csv('2021-12_btc_usd_price_index.csv', dtype={"date": 'datetime64', "price": 'float64'})

In [6]:
december_price.head()

                  sep= Unnamed: 1
0        Date and Time      Price
1  2021-12-01 00:00:00   56976.29
2  2021-12-01 00:00:01   56981.91
3  2021-12-01 00:00:02   56981.78
4  2021-12-01 00:00:03   56993.39